.container {
   display: grid;
   grid-template-areas:
      'header header'
      'sidebar content';
   grid-gap: 10px;
   grid-template-columns: 150px 1fr;
   grid-template-rows: 50px 1fr;
}

.item {
   padding: 10px;
   border: 1px solid black;
}
.header {
   grid-area: header;
}
.sidebar {
   grid-area: sidebar;
}
.content {
   grid-area: content;
}
.orange {
   padding: 5px;
   color: #fff;
   background: orange;
}
.red {
   padding: 5px;
   color: #fff;
   background: red;
}
